body {
	  min-height:500px;
	  min-width: 400px;
      white-space: nowrap;
      }

h1 {
    font-size: 15px;
    }
	
placeholder{
	color:#7f8184;
	}
	
.tempdiv{
	border-style: solid;
	margin-top:5px;
	margin-bottom: 5px;
	padding:10px;
	max-width: 500px;
}


.tempdivhover{
	border-style: solid;
    border-width: 10px;
	margin-top:5px;
	margin-bottom: 5px;
	padding:10px;
	max-width: 500px;
	font-weight: bold;
}