body,input,.tempdiv,.tempdivhover,.cancelbutton,.topbar,.enterbutton,#confirm{
	font-family:Tahoma,Sans-serif;
}

body {
	  min-height:500px;
	  min-width: 400px;
	  background-color: #0b84e0;
	  margin:15px;
	  font-size:15px;
      }
	
placeholder{
	color:#7f8184;
	}

input{
	margin-top:5px;
	margin-bottom:5px;
}	

select{
	cursor:pointer;
}
	
.tempdiv{
	border-style: solid;
	margin-top:5px;
	margin-bottom: 5px;
	padding:10px;
	max-width: 500px;
	background-color:#a3aeb7;
	text-align:center;
}


.tempdivhover{
	border-style: solid;
	margin-top:5px;
	margin-bottom: 5px;
	padding:10px;
	max-width: 500px;
	font-weight: bold;
	background-color:#9cb8ce;
	text-align:center;
}

.cancelbutton{
	float:right;
}

.enterbutton,.cancelbutton{
	font-size:15px;
	text-align:center;
	color:white;
	background-color:#13597a;
	border:none;
	cursor:pointer;
}


.topbar {
    font-size: 20px;
	border-style:solid;
	padding: 10px;
	text-align:center;
}

#confirm{
	max-width: 300px;
	word-wrap:normal;
	font-size:15px;
}
